@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  overflow-x: hidden;
}

@layer utilities {
  .drop-shadow-glow {
    filter: drop-shadow(0 0 20px rgba(16, 185, 129, 0.3));
  }
}
